<p>users works!</p>
<!-- user.component.html -->
<div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">DOB</th>
      <th scope="col">Age</th>
      <th scope="col">Salary</th>
      <th scope="col">New Salary</th>
   

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{user.id}}</th>
      <td>{{user.name | uppercase}}</td>
      <td>{{user.dob}}</td>
      <td>{{user.dob |age}}</td>
      <td>{{user.salary}}</td>
      <td>{{user.salary | multiply:2}}</td>

      
    </tr>
  
  </tbody>
</table>
</div>