<p>user-details works!</p>
<div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">user name</th>
          <th scope="col">email</th>
          
    
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row">{{user.id}}</th>
          <td>{{user.name}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
        
        </tr>
      
      </tbody>
    </table>
   
    </div>
    <button (click)="loadData()">load data</button>
   
