<!-- <h1 style="color: blueviolet;">Welcome to {{title}} website</h1>

{{2+2}}


<h2>{{name}}</h2>
My name is {{getName()}}
<br>

<p>{{nameObj.name}}  {{nameObj.age}}</p>
{{arr}} -->

 <!-- <app-test2></app-test2> 
 <app-test3></app-test3> -->

 <!-- <app-pipes></app-pipes>  -->
<!-- <app-todo></app-todo> -->


<!-- <h1>App component</h1>
{{message}}
 <br>
<hr> 
<test-comp (childEvent)="message = $event" [parentName]="name"></test-comp> -->




<!-- <app-users></app-users>
  <br> 
<hr>
<app-user-details></app-user-details>  -->



<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">User-Management</a> -->
    <a class="navbar-brand" href="#">Viewing TODO and PIPES component</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <!-- <a routerLink="users" routerLinkActive="active" class="nav-link active" aria-current="page" href="#">Users</a> -->
          <a routerLink="pipes" routerLinkActive="active" class="nav-link active" aria-current="page" href="#">Pipes</a>

        </li>
        <li class="nav-item">
          <a routerLink="users" routerLinkActive="active" class="nav-link active" aria-current="page" href="#">Users</a>
         
        </li>
        <li class="nav-item">
          <a routerLink="userdetails" routerLinkActive="active"  class="nav-link" href="#">User-Details</a>
         
        </li>

        <li class="nav-item">
          <!-- <a routerLink="userdetails" routerLinkActive="active"  class="nav-link" href="#">User-Details</a> -->
          <a routerLink="todo" routerLinkActive="active" class="nav-link active" aria-current="page" href="#">To-Do</a>
        </li>
        <li class="nav-item">
         
          <a routerLink="rxjs" routerLinkActive="active" class="nav-link active" aria-current="page" href="#">RxJs</a>
        </li>
        <li class="nav-item">
         
          <a routerLink="rxjs2" routerLinkActive="active" class="nav-link active" aria-current="page" href="#">RxJs2</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li> -->
        
      </ul>
    </div>
  </div>
</nav>

<h1>App component</h1>
<br>
<hr>

<router-outlet></router-outlet>























