<p>user works!</p>
<table>
    <tr>
        <th>Name</th>
        <td>{{user.name}}</td>

    </tr>
    <tr>
       <th>UserName</th>
       <td>{{user.username}}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{user.email}}</td>
    </tr>
    <tr>
        <th>City</th>
        <td>{{user.address.city}}</td>
    </tr>
</table>
<ul class="nav nav-tabs">
<li class="nav-item"> <a routerLink="home" class="nav-link"> Home Address</a></li>
<li class="nav-item"> <a routerLink="office" class="nav-link"> Office Address</a></li>

</ul>

<router-outlet></router-outlet>